body{
	padding: 0px;
	margin: 0px;
	background-color: #e4ab50;
}

.display {
	padding:0px;
	margin: 0px;
	width:480px;
	height:320px;
	font-family: sans-serif;
	background-image: url(../img/ccc-logo.png);
	background-repeat: no-repeat;
	background-size: 30%;
}

.user{
	margin: 0px;
	padding: 0px;
	font-size:1.8em;
	padding-left: 150px;
	height: 37px;
	padding-top: 3px;
}

.tweet{
	height: 280px;
	margin: 0px;
	margin-bottom: 5px
	padding: 0px;
	font-size:1.9em;
	background-color: #829a40;
	color: fff;
}

.tweetimg{
	max-width:100%;
	max-height:100%;
}